<div>
<p class="error" style="text-align:center; font-size:15px;" ng-show="erreurServeur">Une erreur interne a été rencontrée. Merci de réessayer</p>

	<div class="header">
  	<h3 class="text-muted" style="margin-top:0;">Accueil</h3>
  </div>
</div>
Bonjour {{user.firstName}} ! <br /><br />

Vous avez effectué {{user.sessions.length}} sessions jusqu'à maintenant ! <br /><br />

<ul>
<li> <a href="#profil">Retrouver les informations de votre profil.</a> </li><br />
<li> <a href="#sessions">Consulter et démarrer des sessions </a></li><br />
<li> <a href="#amis">Retrouver vos amis</a> </li>
</ul>


