<div>
	<p class="error" style="text-align:center; font-size:15px;" ng-show="erreurServeur">Une erreur interne a été rencontrée. Merci de réessayer</p>

	<div class="header">
  		<h3 class="text-muted" style="margin-top:0;">Inscription</h3>
  	</div>
  	
  	
  	<p class="error" style="margin-bottom:30px; font-size:16px" ng-hide="correctFields">Renseignements incorrects</p>
  	<p class="error" style="margin-bottom:30px; font-size:16px" ng-hide="stillUsed">Pseudo ou/et email déjà utilisé(s)</p>
	
	<form name="myForm" ng-submit="createUser(myForm)">
	  <div style="display:inline-block; width:40%">
	  <label>Nom:</label><br/>
        <input type="text" ng-model="user.lastName" required/> <br/><br />
    	<label>Prenom:</label><br/>
        <input type="text" ng-model="user.firstName" required/> <br/><br/>
    	<label>Mail:</label><br/>
        <input type="email" ng-model="user.mail" required/> <br/><br/>
    	<label>Pseudo:</label><br/>
        <input type="text" ng-model="user.pseudo" required/> <br/><br/>
        <label>Sexe:</label><br/>
      	<input type="radio" ng-model="user.sex" value="true"> Homme 
      	<input type="radio" ng-model="user.sex" value="false"> Femme <br/><br/> 
	  </div>
	  <div style="display:inline-block; vertical-align:top; width:40%;">
	  	<label>Date de naissance:</label><br/>
        <input type="date" ng-model="user.birthDay" required/> <br/><br/>
      	<label>Taille (cm):</label><br/>
        <input type="text" ng-model="user.size" required/> <br/><br/>        
      	<label>Poids (kg):</label><br/>
        <input type="text" ng-model="user.weight" required/> <br/><br/> 
      	<label>Mot de passe:</label><br/>
        <input type="password" ng-model="user.password" required/> <br/><br/>
        <button type="submit" style="margin-top:10px;" class="btn btn-success" ng-disabled="myForm.$invalid">Je m'inscris !</button>
	  </div>
	</form>
</div>

